* {
  box-sizing: border-box;
}

html,
body {
  color: #000;
  font-family: "Roboto", sans-serif;
  background: #eee;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
}

.button {
  border: none;
  padding: 0;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.24rem 0.62rem;
}

.header > h5 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.main {
  flex: 1 1 auto;
  text-align: center;
}

.main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.main > div > h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -1px;
  margin: 0;
}

.main > div > div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.iconWrap {
  display: inline-block;
  background-color: #fff;
  width: 15.7rem;
  height: 15.7rem;
  line-height: 15.7rem;
  text-align: center;
  border-radius: 100%;
}

.iconWrap > img {
  width: 8.32rem;
  height: 8.32rem;
  vertical-align: middle;
}

.aiLoaderWrap > img {
  width: 12.1rem;
  height: 12.1rem;
  border-radius: 100%;
}

.aiLoaderAnimationWrap {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.aiLoaderAnimationWrap > img {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}

.moveInCircle > img {
  animation: moveInCircle 5s infinite linear;
}

.rotate {
  animation-name: rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

.footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  text-align: center;
}

.footerAnimation {
  min-height: 10rem;
  /* min-height: 11.875rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.footerAnimation > div > h6 {
  color: #b8bdc6;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -1px;
  margin-top: 0;
}

.pulseOutline {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  animation-timing-function: ease-out;
  border-radius: 100%;
}

.pulse1 {
  animation: pulseSecondary 1.5s infinite;
}

.pulse2 {
  animation: pulseSecondary2 1.5s infinite;
}

.pulse3 {
  animation: pulseSecondary3 1.5s infinite;
}

.rotateAndPulse {
  animation: rotateAndPulse 15s linear infinite;
}

.pulseMicrophone {
  background-color: #4e77fb;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 6rem;
}

.pulseMicrophone > img {
  vertical-align: middle;
}

.loaderCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.loaderCircle > span {
  background-color: #b8bdc6;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  animation-name: circleLoader;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loaderCircle > span:nth-child(2) {
  height: 0.563rem;
  width: 0.563rem;
  animation-name: circleLoader2;
  animation-duration: 500ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loaderProgress {
  display: block;
  height: 0.375rem;
  width: 10.344rem;
  background: no-repeat linear-gradient(#b8bdc6 0 0),
    no-repeat linear-gradient(#b8bdc6 0 0), #e1e2e3;
  background-size: 60% 100%;
  animation: progress 3s infinite;
}

.loaderBars {
  position: relative;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.loaderBars > div {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 0.375rem;
  background-color: gray;
  border-radius: 6.188rem;
  opacity: 0.25;
}

.loaderBars > div:nth-child(2n) {
  height: 2rem;
  animation: scale2 1s infinite;
  animation-delay: 0.4s;
}

.loaderBars > div:nth-child(2n + 1) {
  height: 1rem;
  animation: scale 500ms infinite;
  animation-delay: 0.2s;
}

.loaderBars > div:nth-child(1) {
  left: 0;
}
.loaderBars > div:nth-child(2) {
  left: 1rem;
}
.loaderBars > div:nth-child(3) {
  left: 2rem;
}
.loaderBars > div:nth-child(4) {
  left: 3rem;
}
.loaderBars > div:nth-child(5) {
  left: 4rem;
}

@keyframes pulseSecondary {
  0% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.2);
    border: 1px solid #4e77fb;
    opacity: 0.3;
  }
}

@keyframes pulseSecondary2 {
  0% {
    transform: scale(1.3);
    opacity: 0.25;
  }
  100% {
    transform: scale(1.5);
    border: 1px solid #4e77fb;
    opacity: 0.1;
  }
}

@keyframes pulseSecondary3 {
  0% {
    transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    transform: scale(1.9);
    border: 1px solid #4e77fb;
    opacity: 0.05;
  }
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAndPulse {
  0% {
    transform-origin: center center;
    transform: rotate(-360deg) scale(1);
  }
  10% {
    transform-origin: center center;
    transform: rotate(-288deg) scale(0.9);
  }
  20% {
    transform-origin: center center;
    transform: rotate(-216deg) scale(1);
  }
  30% {
    transform-origin: center center;
    transform: rotate(-144deg) scale(0.9);
  }
  40% {
    transform-origin: center center;
    transform: rotate(-72deg) scale(1);
  }
  50% {
    transform-origin: center center;
    transform: rotate(0) scale(0.9);
  }
  60% {
    transform-origin: center center;
    transform: rotate(72deg) scale(1);
  }
  70% {
    transform-origin: center center;
    transform: rotate(144deg) scale(0.9);
  }
  80% {
    transform-origin: center center;
    transform: rotate(216deg) scale(1);
  }
  90% {
    transform-origin: center center;
    transform: rotate(288deg) scale(0.9);
  }
  100% {
    transform-origin: center center;
    transform: rotate(360deg) scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.2);
    border: 1px solid #4e77fb;
    opacity: 0.3;
  }
}

@keyframes circleLoader {
  0% {
    opacity: 0.25;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@keyframes circleLoader2 {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes progress {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

@keyframes scale {
  50% {
    height: 1.5rem;
  }
  100% {
    height: 1rem;
  }
}

@keyframes scale2 {
  50% {
    height: 3.625rem;
  }
  100% {
    height: 2rem;
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg) translateY(0.5rem) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(0.5rem) rotate(-360deg);
  }
}
